:root {
	--per-100: 100%;
	--indent-10: 10px;
	--fz-16: 16px;
}

.heal-point {
	margin: 0 auto;
	width: var(--per-100);
	max-width: 500px;
	text-align: center;

	& select {
		padding: 7px var(--indent-10);
		margin: var(--indent-10);
		font-size: var(--fz-16);
		font-weight: 600;
		width: 50px;
		border-radius: 15px;
		color: white;
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 10px;
		text-overflow: '';

		option {
			font-size: var(--fz-16);
			font-weight: 600;
			color: black;
		}
	}

	& input {
		padding: 12px;
		margin-bottom: var(--indent-10);
		font-size: var(--fz-16);
		width: 120px;
		border-radius: 15px;
		color: white;
		transition: all 0.2s ease-in-out;

		&::placeholder {
			color: rgba(255, 255, 255, 0.377);
			transition: opacity 0.15s ease-in;
		}

		&:focus::placeholder {
			opacity: .25;
		}

		&:focus-visible {
			box-shadow: 0 0 5px rgb(9, 58, 121);
		}
	}

	& button {
		padding: 17px 40px;
		position: relative;
		font-weight: 600;
		border-radius: 20px;
		overflow: hidden;
		color: white;

		box-shadow: 0 0 5px rgb(4, 21, 94);
		transition: box-shadow 0.2s ease-in-out;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background-image: url(./gif/tenror.gif);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: right;
			width: var(--per-100);
			height: var(--per-100);
			mix-blend-mode: screen;
			opacity: 0.7;
			transition: all 0.2s ease-in-out;
		}

		@media (hover: hover) {
			&:hover {
				box-shadow: 0 0 8px rgb(0, 0, 0);

				&::after {
					opacity: 0.3;
					mix-blend-mode: color-dodge;
				}
			}
		}
	}
}

.ice-background {
	background: rgb(9, 58, 121);
	background: linear-gradient(90deg, rgba(37, 31, 143, 1) 0%, rgba(0, 175, 210, 1) var(--per-100));
}

.progress {
	margin-bottom: var(--indent-10);
	position: relative;
	display: block;
	width: var(--per-100);
	height: 10px;
	border-radius: 5px;
	transition: 0.4s ease-in-out;

	&-wrapper {
		border-radius: 5px;
		background-color: #d1d1d1;
		box-shadow: 0 2px 3px rgb(0, 0, 0);
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(./gif/stars.gif);
		background-size: cover;
		background-position: center;
		width: var(--per-100);
		height: var(--per-100);
		mix-blend-mode: screen;
		opacity: 0.7;
	}
}

.green {
	background-color: rgb(0, 155, 0);
}

.light-green {
	background-color: rgb(37, 207, 37);
}

.yellow {
	background-color: rgb(233, 216, 69);
}

.orange {
	background-color: rgb(255, 174, 0);
}

.red {
	background-color: rgb(255, 0, 0);
}