.form {
	margin-bottom: var(--indent-20);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;

	input {
		padding: 10px;
		font-size: var(--fz-20);
		border-radius: var(--border-20);
		color: white;
		background-color: var(--bg-color);
		box-shadow: var(--box-shadow-inset);

		&::placeholder {
			color: rgba(255, 255, 255, 0.425);
			transition: 0.15s ease-in;
		}

		&:focus::placeholder {
			color: rgba(255, 255, 255, 0.096);
		}
	}

	button {
		padding: 10px;
		font-size: var(--fz-20);
		color: white;
		border-radius: var(--border-20);
		background-color: var(--bg-color);
		box-shadow: var(--box-shadow-inset);
		transition: 0.15s ease-in;

		&:active {
			background-color: var(--effect-bg-color);
			box-shadow: var(--box-shadow-inset);
		}

		@media(hover:hover) {
			&:hover {
				background-color: var(--effect-bg-color);
				box-shadow: var(--box-shadow-inset);
			}
		}

		&:disabled {
			background-color: #818181;
			color: #bebebe;
			cursor: default;
		}
	}

	&-wrapper {
		padding: 50px 0 20px 0;
		text-align: center;

		h2 {
			margin-bottom: var(--indent-20);
		}
	}
}