.characters {
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	font-family: 'Garamond', sans-serif;
	font-size: 27px;
	font-weight: 500;

	@media(max-width:500px) {
		row-gap: 10px;
		font-size: 23px;
	}

	& h1 {
		font-size: 37px;

		@media(max-width:500px) {
			font-size: 29px;
		}
	}

	& span {
		font-weight: 600;
		text-decoration: underline;
		text-underline-offset: 2px;
	}

	& svg {
		position: absolute;
		top: -3%;
		right: -8%;
		width: 20px;
		height: 20px;

		& path {
			transition: stroke 0.15s ease-in;
		}

		& circle {
			transition: fill 0.15s ease-in;
		}

		@media (hover: hover) {
			&:hover path {
				stroke: rgb(123, 185, 255);
			}

			&:hover circle {
				fill: rgb(123, 185, 255);
			}
		}

		@media(max-width:500px) {
			right: -2%;
			width: 13px;
			height: 13px;
		}
	}
}