.profile-wrapper {
	padding: 50px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	column-gap: 30px;
}

.avatar {
	width: 100%;
	max-width: 200px;
	height: 200px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgb(9, 58, 121);

	@media(max-width:500px) {
		max-width: 130px;
		height: 130px;
	}
}