.inspiration {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Garamond';

	button {
		padding: 10px 35px 10px 10px;
		position: relative;
		display: block;
		font-size: 18px;
		color: rgb(255, 48, 48);
		background: rgb(2, 94, 155);
		background: linear-gradient(90deg, rgba(37, 31, 143, 1) 0%, rgba(0, 175, 210, 1) var(--per-100));
		text-decoration: line-through;
		border-radius: 10px;
		box-shadow: 0 0 3px rgb(4, 21, 94);
		user-select: none;
		transition: box-shadow 0.15s ease-in;

		@media(hover:hover) {
			&:hover {
				box-shadow: 0 0 6px rgb(4, 21, 94);
			}
		}

		&::after {
			content: '❌';
			position: absolute;
			top: 50%;
			right: 5px;
			transform: translateY(-50%);
		}
	}

	.is-active {
		color: rgba(60, 255, 0, 0.8);
		text-decoration: unset;

		&::after {
			content: '✅';
		}
	}
}