:root {
	--mb-20: 20px;
	--br-20: 20px;
	--fz-20: 20px;
	--bg-color: rgb(72, 97, 209);
	--effect-bg-color: rgb(47, 29, 209);
	--box-shadow: inset 0 0 5px rgb(0, 0, 0);
}

.form {
	margin-bottom: var(--mb-20);

	input {
		padding: 10px;
		margin-right: 10px;
		font-size: var(--fz-20);
		border-radius: var(--br-20);
		color: white;
		background-color: var(--bg-color);
		box-shadow: var(--box-shadow);

		&::placeholder {
			color: rgba(255, 255, 255, 0.425);
			transition: 0.15s ease-in;
		}

		&:focus::placeholder {
			color: rgba(255, 255, 255, 0.096);
		}
	}

	button {
		padding: 10px;
		font-size: var(--fz-20);
		color: white;
		border-radius: var(--br-20);
		background-color: var(--bg-color);
		box-shadow: var(--box-shadow);
		transition: 0.15s ease-in;

		&:active {
			background-color: var(--effect-bg-color);
			box-shadow: var(--box-shadow);
		}

		@media(hover:hover) {
			&:hover {
				background-color: var(--effect-bg-color);
				box-shadow: var(--box-shadow);
			}
		}
	}

	&-wrapper {
		padding: 50px 0 20px 0;
		text-align: center;

		h2 {
			margin-bottom: var(--mb-20);
		}
	}
}