.list {
	margin-top: 20px;
	display: block;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background-color: blue;
	width: 100%;
	max-width: 600px;
	border-radius: 20px;
	color: white;
	background: linear-gradient(45deg, rgb(53, 78, 189) 0%, rgb(135, 186, 209) 100%);
	box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.623);
	text-align: start;
	text-wrap: wrap;

	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-image: url(img/snowBG.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		mix-blend-mode: screen;
		opacity: 0.5;
		z-index: 1;
	}
}

.item {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 10px;
	font-size: 20px;
	z-index: 9;

	&:not(:last-child) {
		border-bottom: solid 1px rgb(10, 8, 70);
	}

	button {
		width: 25px;
		height: 25px;
		mix-blend-mode: color;
	}
}