:root {
	--white-color: white;
}

.character-btn {
	padding: 20px 60px;
	position: relative;
	width: 100%;
	max-width: 450px;
	border-radius: 20px;
	font-size: 18px;
	font-weight: 600;
	color: var(--white-color);
	background: #0054c3;
	background: linear-gradient(180deg, #2b95e4 20%, #0054c3 75%);
	box-shadow: inset 0 0 10px rgb(1, 28, 102);
	transition: 0.15s ease-in-out;

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		right: 7%;
		transform: translateY(-50%);
		background-image: url(../../../assets/img/arrow.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 15px;
		height: 15px;
		transition: 0.25s ease-in-out;
	}

	@media (hover: hover) {
		&:hover {
			box-shadow: inset 0 0 5px var(--white-color);
		}
	}

	&:active {
		box-shadow: inset 0 0 20px var(--white-color);
	}

	&--active {
		box-shadow: inset 0 0 10px var(--white-color);

		&::after {
			top: 40%;
			transform: rotate(180deg);
		}
	}
}