.fight {
	padding-top: 40px;
	text-align: center;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.berserk-on {
		box-shadow: 0 0 5px rgba(255, 0, 0, 0.493);
		background-color: rgba(255, 0, 0, 0.493);
	}

	.berserk-off {
		box-shadow: 0 0 5px red;
		background-color: rgba(255, 0, 0, 0.829);
	}


	label {
		padding: 10px 15px;
		margin-bottom: 10px;
		display: inline-block;
		font-size: 18px;
		color: white;
		border-radius: 10px;
		cursor: pointer;
		transition: 0.2 ease-in;
		color: white;
		transition: 0.15s ease-in;

		@media(hover:hover) {
			&:hover {
				box-shadow: 0 0 5px rgba(103, 151, 255, 0.829);
				background-color: rgba(103, 151, 255, 0.829);
			}
		}
	}

	input {
		display: none;
	}
}

.fight-descr {
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
	font-size: 30px;
	width: 100%;
	max-width: 600px;
	border: solid 1px black;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.623);
	background-color: rgb(255, 209, 209);

	li {
		padding: 20px 10px;
		position: relative;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
		align-items: center;
		column-gap: 10px;
		row-gap: 10px;
		width: 100%;
		cursor: pointer;

		&:not(:last-child) {
			border-bottom: solid 1px black;
		}

		&:active .descr {
			opacity: 1;
			visibility: visible;
			line-height: 130%;
		}

		.descr {
			padding: 50px 20px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 20px;
			width: 90%;
			color: white;
			background-color: rgb(9, 58, 121);
			box-shadow: 0 0 15px rgba(9, 58, 121, 0.7);
			border-radius: 10px;
			opacity: 0;
			visibility: hidden;
			z-index: 10;
			transition: 0.2s ease-in;
		}
	}

	p {
		padding: 7px;
		font-size: 22px;
		font-weight: 500;
		color: white;
		border-radius: 7px;
		background-color: rgb(94, 30, 30);

		@media(max-width:600px) {
			font-size: 16px;
		}
	}

	&--berserk {
		background-color: rgb(255, 160, 160);
		box-shadow: 0 0 10px rgb(255, 31, 31);
		border-color: rgb(255, 31, 31);

		li:not(:last-child) {
			border-color: rgb(255, 31, 31);
		}

		p {
			background-color: rgb(175, 2, 2);
		}
	}
}